extends ../_layout
block body

  nav(aria-label="You are here:" role="navigation")
    ul.breadcrumbs
      li
        a(href="/") Home
      li
        a(href="/products") Products
      li
        span.show-for-sr Current:
        | #{product.name}

  h1 #{product.name}
  p Price: $ #{product.price}
  p 
    | Manufacturer: 
    a(href="/manufacturers/show/" + product.code) #{product.manufacturer}
